@import '@/styles/_variables.scss';

.card {
  display: flex;
  padding: 0 15px;


  @media (max-width: 1000px) {
    flex: 1 1 50%;
  }

  @media (max-width: 650px) {
    flex: 1 1 100%;
  }



  &__body {
    padding: 37px 30px;
    border-radius: 7px;
    background: #FAFAFA;
    position: relative;
    border: 1px solid transparent;
    margin-top: 15px;

    &:hover {
      background: #f4f3f3;
      border: 1px solid #e7e6e6;
    }

    @media (max-width: 1000px) {
      flex: 1 1 50%;
    }

    @media (max-width: 650px) {
      flex: 1 1 100%;
    }

  }

  &__title {
    font-size: 16px;
    line-height: 20px; /* 125% */
    margin-bottom: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__number {
    color: #979797;
    font-size: 12px;
    font-weight: 300;
  }

  &__footer {
    padding-bottom: 20px;

    @media (max-width: 660px) {
      padding-bottom: 40px;
    }
  }

  &__status {
    position: absolute;
    bottom: -3px;
    left:-1px;
    z-index: 2;
  }

  &__selection {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__additionally {
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 2;
  }

  &__control {
    position: absolute;
    bottom: -2px;
    right: 0;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    bottom: -170px;
    right: 00px;
    z-index: 100;
    opacity: 0;
    transform: translateY(-20%);
    pointer-events: none;
    border-radius: 9.38px;
    background: rgba(250, 250, 250, 0.75);
    box-shadow: 0px 16.079999923706055px 67px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(25px);
    transition: all .4s ease-in;
  }

  &__wrapperMenu {
    padding: 10px;
    display: flex;
    flex-direction: column;

  }

  &__menuActive {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%);
  }

  &__itemMenu {
    padding: 10px;
    border-radius: 7px;

    &:not(:last-child) {
      border-bottom: 1px solid #F0F0F0;
      
    }
    span {
      margin-left: 10px;
      font-weight: 300;
      color: $colorText;
    }

    &:hover {
      background-color: #ece9e9;
    }
  }

  &__red {
    color: $red !important;
  }

  

}