html,
body{
   height: 100%;
   line-height: 1;
   font-weight: 400;
   color: $colorText;
   font-size: $fontSize;
   font-family: $fontFamily;
   background-color: $background;
}

#__next {
   display: flex;
	min-height: 100%;
	flex-direction: column;
}

.page {
   display: flex;
   flex: 1 1 100%;
   min-height: 100%;
   margin-bottom: 100px;
}

.page.profile {
   background-color: #f4f4f4;
}

[class*="__container"] {
   max-width: $containerWidth;
   margin: 0px auto;
   padding: 0px $containerPadding;
 
   width: 100%;
   height: 100%;
  
}

[class*="__profileContainer"] {
   max-width: 1872px;
   padding: 0px $containerPadding;
   margin: 0px auto;
   width: 100%;
   height: 100%;
  
}


.asddf .slick-slide.slick-active.slick-current {
   border: 6px solid #0036FF;
 }

 .asddf .slick-slider .slick-list .slick-track .slick-slide   {

 }


 .asddf {
 
 }

 .slick-prev, .slick-next {
   font-size: 0;
   line-height: 0;
   position: absolute;
   top: 114%;
   display: block;
   width: 20px;
   height: 20px;
   padding: 0;
   transform: translate(0, -50%);
   cursor: pointer;
   color: transparent;
   border: none;
   outline: none;

 }




 








