@import '@/styles/_variables.scss';

.checktz {
  
  &__head {
    @media (min-width: 1100px) {
      display: flex;
      align-items: center;
    }
  }

  &__ico {
    img {
      @media (max-width: 1350px) {
        display: none;
        opacity: 0;
      }
    }
  }

  &__content {

    border-radius: 7px;
    background: #FAFAFA;
    padding: 15px;
    width: 100%;
    margin-left: 12px;
    flex-wrap: wrap;

    @media (max-width: 1350px) {
      margin-left: 0;
    }

    @media (min-width: 1100px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }

  &__info {
    display: flex;
    align-items: center;

    @media (max-width: 1100px) {
      margin-bottom: 20px;
    }
  }

  &__name {
    font-size: 16px;
    margin-right: 7px;
  }

 &__number {
  color: #979797;
  font-size: 12px;
  font-weight: 300;
 }

  &__control {

    @media (min-width: 1100px) {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__controlItem {
    display: flex;
    align-items: center;
    border-radius: 5.077px;
    background: #EDEDED;
    cursor: pointer;

    @media (max-width: 800px) {
      flex: 1 1 100%;
      display: flex;
      justify-content: space-between;
    }

    &:hover {
      background: #d8d8d8;
    }

  }

  &__controlTitle {
    font-size: 14px;
    line-height: 19.038px; 
    padding: 12px 33px 12px 12px;
    border-radius: 5.077px;
    background: #F3F3F3;

    &:hover {
      background: #ebebeb;
    }

    @media (max-width: 800px) {
      padding: 12px 0 12px 12px;
      width: 100%;
    }
  }

  &__controlIcon {
    padding: 12px;
  }

  &__respond {
    @media (max-width: 1100px) {
      width: 100%;
    }
   
    a {
      border-radius: 7px;
      background: $blue;
      color: #F5F5F5;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      padding: 20px 80px;
      transition: all .4s ease;

      @media (max-width: 1100px) {
       display: flex;
       flex: 1 1 100%;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin-top: 20px;
      }

      &:hover {
        background: #4465de;
      }
    }
  }

  &__date {
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0;

    @media (min-width: 500px) {
      display: flex;
      align-items: center;
    }
  }

  &__dateInfo {
    @media (max-width: 500px) {
     margin-bottom: 10px;
    }
  }

  &__dateEdit {
    color: #979797;
  }
}

.card {
  border-radius: 7px;
  border: 0.8px solid #DADADA;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);


  &__body {
    padding: 25px;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__headItem {
    border-radius: 5px;
    border: 0.8px solid #242424;
    background: #F5F5F5;
    padding: 9px 15px;
    transition: all .4s ease;
    cursor: pointer;

    @media (max-width: 850px) {
      flex: 1 1 40%;
      text-align: center;
      padding: 15px 15px;
    }

    @media (max-width: 500px) {
      flex: 1 1 100%;
      text-align: center;
      padding: 15px 15px;
    }

    &_active {
      background: #242424;
      color: #F5F5F5;
    }

    &:hover {
      background: #242424;
      color: #F5F5F5;
    }
  }
   
  &__content {
    
    @media (min-width: 1440px) {
      display: flex;
    }

    margin-top: 50px;

    @media (max-width: 850px) {
      margin-top: 30px;
    }
  }

  &__slider {
    width: 585px;
    order: 1;
    margin-right: 50px;

    @media (max-width: 1400px) {
      width: 100%;
      margin-bottom: 50px;
    }
    
  }

  &__sliderImg {
    width: 585px;
    height: 390px;
    border-radius: 10px;

  @media (max-width: 1400px) {
      width: 100%;
      height: 600px;
    }

  @media (max-width: 700px) {
    width: 100%;
    height: 400px;
  }

   @media (max-width: 500px) {
    width: 100%;
    height: 300px;
  }
  
  }

  &__sladerFullImage {
    width: 60vw;
    height: 70vh;
    border-radius: 20px;

    @media (max-width: 1400px) {
      width: 100vw;
      height: 50vh;
    }
  }


  &__info {
    margin-left: 30px;
    min-height: 100%;
    order: 2;
    display: flex;
    flex-direction: column;

    @media (max-width: 784px) {
      margin-left: 0px;
    }
  }

  &__infoHead {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media (max-width: 784px) {
      gap: 20px;
      justify-content: center;
    }
  }

  &__infoItem {
    @media (max-width: 1400px) {
      flex: 1 1 auto;
    }

    @media (max-width: 784px) {
      flex: 1 1 100%;
    }
  }

  &__infoLabel {
    margin-bottom: 10px;

    @media (max-width: 784px) {
      text-align: center;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  &__infoBlock {
    text-align: center;
    color: #F5F5F5;
    padding: 16px 22px;
    border-radius: 5px;
    background: #242424;

    @media (max-width: 784px) {
      flex-wrap: wrap;
      font-size: 16px;
    }
  }

  &__infoFull {
    margin-top: 40px;
    height: 100%;
    flex: 1 1 100%;

    @media (max-width: 784px) {
      flex-wrap: wrap;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 784px) {
      flex-wrap: wrap;
  
    }

    @media (max-width: 550px) {
      margin-bottom: 0px;
    }
  }

  &__column {
    flex: 0 1 33%;

    @media (max-width: 784px) {
      flex: 1 1 50%;
      margin-bottom: 32px;
    }

    @media (max-width: 550px) {
      font-size: 16px;
      flex: 1 1 100%;
    }

  }

  &__title {
    margin-bottom: 7px;
  }

  &__subTitle {
    font-weight: 300;
    line-height: 150%
  }

  &__footer {
    display: flex;
    border-radius: 5px;
    background: #FAFAFA;
    padding: 28px 27px;
    flex-wrap: wrap;

    @media (max-width: 500px) {
    margin-bottom: 80px;
    }
  } 

  &__contact {
    flex: 0 0 33%;
    text-align: center;

    @media (max-width: 550px) {
      font-size: 18px;
      text-align: center;
      flex: 1 1 100%;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__contactTitle {
    margin-bottom: 6px;
  }

  &__contactSubTitle {
    font-weight: 300;
  }
}







