.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.805);
  z-index: 9999999;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease;


  &__content {
    border-radius: 7px;
    width: 60vw;
    border-radius: 10px;
    height: 70vh;
    position: relative;
    z-index: 100;

    @media (max-width: 1400px) {
      width: 100vw;
      height: 50vh;
    }
  }

  &__active {
    opacity: 1;
    pointer-events: all;
  }
}