
.aboutOrder__item a:hover > *:not(:first-child) {
  background: #2C2C2C;
  color: #FFF;
}

.aboutOrder {

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 36px;

    h2 {
      font-size: 16px;
      margin-right: 5px;
      
    }

    @media (max-width: 1300px) {
      margin-top: 80px;
    }
  } 

  &__number {
    color: #979797;
    font-size: 12px;
    font-weight: 300;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    & > * {
      flex: 1 1 31%;

      @media (max-width: 800px) {
        flex: 1 1 100%;
      }
    }
  }

  &__contol {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  &__applications {

    display: flex;
    align-items: center;

 
    
    span {
      font-size: 16px;
      margin-right: 20px;
    }

    &_button {
      font-weight: 300;
      font-size: 16px;
      color: #000;
      padding: 8px 35px;
      border-radius: 5px;
      background: #EDEDED;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: #e5e4e4;
      }
    }
  }

  &__work {
    span {
      font-size: 16px;
      margin-right: 20px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

  

    thead {
      background: #FDFDFD;
      font-weight: 300 ;
      color: #000;
      
      th {
        padding: 15px;
        font-weight: 300;
        color: #000;
        text-align: start;
      }
    }

    tbody {

    }

    tr {

    }

    th {

    }

    td {
      padding: 15px;
      color: #000;
      border-bottom: 1px solid rgba(182, 182, 182, 0.20);
      font-weight: 300;
    }

  }

  &__checkDada {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }

  &__evaluation {
    color: #BCBCBC !important;
  }

  &__denial {
    color: #FF0A00 !important;
  }

  &__agreement {
    color: #00902A !important;
  }

  &__write {
    padding: 5px 14px;
    border-radius: 5px;
    border: 1px solid #FF8A00;
    width: 90px;
    font-weight: 300;
  }

  &__discuss {
    padding: 5px 14px;
    border-radius: 5px;
    border: 1px solid #0036FF;
    background: #0036FF;
    width: 90px;
    color: #FFF;
    font-weight: 300;
    margin-right: 9px;
  }

  &__message {

  }

  &__moove {
    display: flex;
    align-items: center;
  }

  &__offer {
    padding: 5px 14px;
    border-radius: 5px;
    border: 1px solid #FF8A00;
    font-weight: 300;
    width: 180px;
  }




}