.change {
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 36px;

    h2 {
      font-size: 16px;
      margin-right: 5px;
      
    }

    @media (max-width: 1300px) {
      margin-top: 80px;
    }
  } 

  &__number {
    color: #979797;
    font-size: 12px;
    font-weight: 300;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    & > * {
      flex: 1 1 31%;

      @media (max-width: 800px) {
        flex: 1 1 100%;
      }
    }
  }

  &__date {
    margin-top: 25px;
    font-size: 16px;
  }

  &__content {
    margin-top: 25px;
  }

  &__wrapper {
    display: flex;
    gap: 10px;

    @media (max-width: 1600px) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1600px) {
      order: 2;
    }
  }

  &__gallery {
  }

  &__info {
    flex: 1 1 50%;
    display: flex;
  }

  &__body {
    padding: 100px 20px;
    border-radius: 7px;
    background: #FAFAFA;
  }

  &__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 20px;
      font-weight: 300;
      color: #000;
      text-align: center;
      margin-top: 32px;
    }
  }


  &__infoBody {
    flex:  1 1 100%;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: start;
    }

  }

  &__infoCompany {
    display: flex;
    align-items: center;
    flex:  1 1 100%;

    @media (max-width: 1600px) {
      width: 100%;
    }

  }

  &__infoCompanyBody {
    display: flex;
    padding: 17px 20px;
    border-radius: 5px;
    background: #FAFAFA;
    align-items: center;
    flex:  1 1 100%;
  }

  &__name {
    font-weight: 300;
    flex: 1 1 30%;
  }

  &__type {
    font-weight: 300;
    text-align: center;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 700px) {
      width: 100%;
    }

  }   

  &__status {
    font-weight: 300;
    border-radius: 5px;
    background: #FAFAFA;
    padding: 17px 0px;
    width: 200px;
    text-align: center;

    @media (max-width: 1600px) {
      width: 150px
    }

    @media (max-width: 700px) {
      width: 50%;
    }

  }

  &__message {
    display: flex;

    @media (max-width: 700px) {
      width: 50%;
    }

    a {
    
      padding:17px 52px;
      color: #FFF;
      font-weight: 300;
      border-radius: 5px;
      background: #0036FF;

      @media (max-width: 1600px) {
        padding: 17px 32px;
      }

      @media (max-width: 700px) {
        width: 100%;
        text-align: center;
      }
    
    }
  }

  &__description {
    display: flex;
    margin-top: 10px;
    
  }

  &__descriptionBody {
    flex: 1 1 100%;
    background: #FAFAFA;
    border-radius: 7px;

    @media (max-width: 1600px) {
      margin-bottom: 100px;
    }
  }

  &__descWarning {
    h3 {
      padding: 130px 20px;
      text-align: center;
      color: #000;
      font-size: 20px;
      font-weight: 300;
    }
  }
}