.footer {

  background: #1D1C1C;
  position: relative;
  z-index: 100;
 
  color: #FAFAFA;
  &__containerProfile {

   
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__balance {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  &__money {
    margin-right: 50px;
   
    &_number {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 4px;
    }

    &_text{
      font-size: 12px;
      font-weight: 300;
    }
  }

  &__button {
    background-color: #2C2C2C;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 7px;
    margin-right: 10px;
  }
  
  &__control {
    display: flex;
    margin-left: 52px;
  }

  &__contolButton {
    align-items: center;

    &_collapse {
      font-size: 25px;
    }
    background-color: #2C2C2C;
    padding: 10px 20px;
    border-radius: 7px;
    margin-right: 10px;
    display: flex;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;

    & > *:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__logo {}
}