.button {
  a {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 16px;
    border-radius: 7px;
    background: #FAFAFA;
    padding-left: 18px;
    color: #D8D8D8;
    transition: all .4s ease-in-out;
  }
  &_active {

  }

  span {
    flex: 1 1 100%;
  }

  &:hover {
    background: #242424;
    color: #FFF;
  }

  &__key {

    border-radius: 7px;
    background: #FDFDFD;
    padding: 14px 18px;
    color: #D8D8D8;
    transition: all .4s ease-in-out;
    
    &_active {
      background: #2C2C2C;
      color: #FFF;
    }
  }

  &_active {
    a {
      background: #242424;
      color: #FFF;
    }
  }
 
}