.orders {

  &__header {
    margin-bottom: 30px;
    gap: 50px;

    @media (min-width: 1450px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex: 1 1 30%;
    gap: 20px;

    & > * {
      flex: 1 1 100%;
    }

    @media (max-width:1437px) {
      margin-bottom: 20px;
    }

    @media (max-width: 800px) {
      flex-wrap: wrap;
      flex: 1 1 100%;
    }
  }

  &__cards {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__add {
    margin: 0 15px;

    @media (max-width: 1000px) {
      flex: 1 1 100%;
      margin: 0 15px;
    }

  }

  &__addBody {
    padding: 45px;
    border-radius: 7px;
    background: #FAFAFA;
    position: relative;
    border: 1px solid transparent;
    margin-top: 15px;

    &:hover {
      background: #f0efef;
      border: 1px solid #e2e0e0;
    }

  }

  &__addTitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-align: center;
    margin-bottom: 7px;
  }

  &__addSubTitle {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }

  &__addStatus {
    position: absolute;
    bottom: -4px;
    left: -1px;
  }

}