.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999999;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .4s ease;


  &__content {
    margin: 10px;
    padding: 40px;
    border-radius: 7px;
    background: rgba(250, 250, 250, 0.90);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
    backdrop-filter: blur(25px);
    width: 550px;
    height: auto;
    position: relative;
    z-index: 100;

  }

  &__active {
    opacity: 1;
    pointer-events: all;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
}